
{% extends "base.html" %}

{% block content %}
<h1 class="terminal-title">Terminal to Linux</h1>

<!-- Terminal -->
<div id="terminal"></div>

<!-- Stop button -->
<button id="stop-process-btn" style="margin-top: 10px;">🛑 Stop active process (Ctrl + C)</button>

<p class="terminal-hint">💡 Use <strong>Ctrl + C</strong> to stop a process and <strong>Ctrl + Shift + V</strong> to paste.</p>

<!-- Command Overview -->
<div id="command-section">
    <h2>Your Command Overview</h2>
    <input type="text" id="search-box" placeholder="Search command...">

    <div id="command-list"></div>

    <form id="add-command-form">
        <input type="text" id="cmd-title" placeholder="Name (e.g. List directory)" required>
        <input type="text" id="cmd-command" placeholder="Command (e.g. ls -la)" required>
        <input type="text" id="cmd-desc" placeholder="Description (optional)">
        <button type="submit">Add</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<!-- JavaScript -->
<script src="{{ url_for('static', filename='js/xterm/xterm.js') }}"></script>
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/xterm/xterm.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/terminal.css') }}">
<!-- JavaScript -->
<script src="{{ url_for('static', filename='js/xterm/fontfaceobserver.standalone.js') }}"></script>
<script src="{{ url_for('static', filename='js/xterm/xterm-addon-fit.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/xterm/xterm-addon-canvas.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/xterm/xterm-addon-serialize.min.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/socket.io/client-dist/socket.io.js"></script>

<script src="{{ url_for('static', filename='js/terminal.js') }}"></script>
{% endblock %}
